<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body bgcolor="lightblue">
    <center><h1>Update User Details</h1></center>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter Name" name="name"><br><br>
        <input type="email" placeholder="Enter Email" name="email"><br><br>
        <input type="number" placeholder="Enter Mobile" name="mobile"><br><br>
        <input type="date" placeholder="Enter DOB" name="dob"><br><br>
        <textarea placeholder="Address" name="address"></textarea><br><br>
        <input type="submit" value="Save">
    </form>
    <hr>
    <a href="confirm">Showdata</a>
</body>
</html>